const config = {
    installations: [
        {
            label: 'installation0',
            type: 'logger',
            pvoutput_apikey: 'xxxx',
            pvoutput_systemid: 'xxxx',
            dataparser: 'solaredge',
            frequency: '*/5 * * * *',
            solaredge_apikey: 'xxxx',
            solaredge_installationid: xxxx
        },{
        {
            label: 'installation1',
            pvoutput_apikey: 'xxxx',
            pvoutput_systemid: 'xxxxx',
            dataparser: 'omnik',
            port: 4000,
            save_captures: true
        },
        {
            label: 'installation2',
            pvoutput_apikey: 'xxxxxxxx',
            pvoutput_systemid: 'xxxxx',
            port: 5279,
            dataparser: 'growatt'
        }
    ]
};
